<!-- Section 2: Calendar (40%) -->
<section class="w-[45%] h-full p-1" id="calendar">
  <div class="card bg-base-100 shadow-xl h-full w-full overflow-hidden">
    <iframe
      src="https://calendar.google.com/calendar/embed?height=500&wkst=1&ctz=Europe%2FMadrid&showTitle=0&showPrint=0&showTz=0&mode=AGENDA&src=Y2FybG9zLnBsYXRhLnN2QGdtYWlsLmNvbQ&src=dmlja3kudmVyYWE4N0BnbWFpbC5jb20&src=ZXMtNDE5LnNwYWluI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039be5&color=%23009688&color=%230b8043"
      style="border-width:0; transform:scale(1.7); transform-origin:0 0; width:calc(100% / 1.7); height:calc(100% / 1.7);"
      frameborder="0"
      scrolling="no"></iframe>
  </div>
</section>
