---
import '../styles/global.css'
import HomeSection from '../components/HomeSection/HomeSection.astro'
import CalendarSection from '../components/CalendarSection/CalendarSection.astro'
import TodoSection from '../components/TodoSection/TodoSection.astro'
import Counter from '../components/islands/Counter.tsx'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home Dashboard</title>
	</head>
	<body class="bg-base-300 h-screen w-screen overflow-hidden">
		<main class="flex flex-row h-full w-full">
			<div
				class="absolute inset-1 overflow-hidden rounded-2xl shadow-xl"
				id="wallpaper"
			>
				<div
					class="absolute inset-0 bg-neutral-focus flex items-center justify-center text-neutral-content wallpaper-sharp"
				>
					<span class="text-lg">Image Background</span>
				</div>
				<div
					class="absolute inset-0 bg-neutral-focus flex items-center justify-center text-neutral-content wallpaper-blur"
				>
					<span class="text-lg">Image Background</span>
				</div>
			</div>

			<HomeSection />
			<CalendarSection />
		</main>
		<script src="../scripts/clock.ts"></script>
		<script src="../scripts/wallpaper.ts"></script>
		<script src="../scripts/weather.ts"></script>
	</body>
</html>
